
/* ---------------------------------
ESTE ARCHIVO ES PARA EL SCROLL DOWN DE RESUMEN DEL PEDIDO
--------------------------------- */

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }