{% extends "pizzeria/base.html" %}
{% load static %}

{% block content %}
<section>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static "pizzeria/images/heading_logo.png" %}" alt="">
                        <h2>Nuestro Menú</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>TODO</b></a></li>
                                        <li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
                                        <li><a href="#" data-select="pasta"><b>INGREDIENTES</b></a></li>
                                        <li><a href="#" data-select="salads"><b></b></a></li>
                                        <li><a href="#" data-select="deserts"><b></b></a></li>
                                </ul>
                        </div><!--col-sm-12-->
                </div><!--row-->

                <div class="row">
                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/menu-1-120x120.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Personal</b><b class="color-primary float-right">BsS10.00</b></h5>
                                                <p class="pr-70">Deliciosa pizza personal pequeña.  </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/sidebar-3-200x200.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza mediana</b><b class="color-primary float-right">BsS16.00</b></h5>
                                                <p class="pr-70">Deliciosa pizza mediana.</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/seller-6-200x200.png" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza grande</b><b class="color-primary float-right">BsS20.00</b></h5>
                                                <p class="pr-70">Deliciosa pizza familiar.</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->


                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/jamon.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Jamón</b><b class="color-primary float-right">BsS4.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/champi.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Champiñones</b><b class="color-primary float-right">BsS3.50</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/pimenton.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pimentón</b><b class="color-primary float-right">BsS3.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/doblequeso.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Doble Queso</b><b class="color-primary float-right">BsS4.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/aceituna.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Aceitunas</b><b class="color-primary float-right">BsS5.75</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30"> 
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/pepperoni.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pepperoni</b><b class="color-primary float-right">BsS3.85</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="{% static "pizzeria/images/salchichon.jpg" %}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Salchichón</b><b class="color-primary float-right">BsS6.25</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                </div><!-- row -->

                <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="cliente" class="btn-primaryc plr-25"><b>¡ORDENA YA!</b></a></h6>
        </div><!-- container -->
</section>

<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static "pizzeria/images/heading_logo.png" %}" alt="">
                        <h2>Nuestra historia</h2>
                </div>

                <div class="row">
                        <div class="col-md-6">
                                <p class="mb-30">
                                        En los años 2000, Brito Amelia, García Víctor, González Daren y Jiménez Rafael
                                        (los fundadores) vivieron un considerado tiempo en Italia, donde 
                                        aprendieron a preparar pizzas y pastas, al regresar con la visión y experiencia 
                                        decidieron poner un restaurante en Italia en el año 2019 y lo llamaron 
                                        ‘‘Mama Magglione’’ cuyo nombre rinde homenaje a la serie Brooklyn99. 
                                        Entonces nació ‘‘Mama Magglione’’ en un clásico y céntrico lugar de Roma, 
                                        ofreciendo su gran especialidad de pizzas. </p>
                        </div><!-- col-md-6 -->

                        <div class="col-md-6">
                                <p class="mb-30">
                                                Hoy en día amplían sus horizontes y apuestan por llevar su trayectoria y experiencia a Caracas, 
                                                abriendo otro gran restaurante que sigue con los valores de toda la vida y mantiene 
                                                los sabores únicos de la cocina de Mama Magglione en cada plato.

                                                En Mama Magglione - Caracas puedes conseguir un menú con nuestras mejores y más reconocidas pizzas 
                                                además de una selección de ingredientes que complementan la oferta, con un servicio directo 
                                                por parte de los dueños y la seguridad de que te sentirás como en casa.</p>
                        </div><!-- col-md-6 -->
                </div><!-- row -->
        </div><!-- container -->
</section>
{% endblock content %}