{% extends "pizzeria/base.html" %}
{% load static %}

{% block content %}
<section>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static "pizzeria/images/heading_logo.png" %}" alt="">
                        <h2>Reporte general de ventas</h2>
                </div>
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha venta</th>
                                <th scope="col">Nombre cliente</th>
                                <th scope="col">Apellido cliente</th>
                                <th scope="col">Monto total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for i in ventas%}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.fecha}}</td>
                                <td>{{i.fk_cliente.nombre}}</td>
                                <td>{{i.fk_cliente.apellido}}</td>
                                <td>{{i.precio_total}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- row -->
        </div><!-- container -->
</section>
{% endblock content %}