{% extends "pizzeria/base.html" %}
{% load static %}

{% block content %}
<section>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static "pizzeria/images/heading_logo.png" %}" alt="">
                        <h2>Sección de reportes</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>Selecione el reporte</b></a></li>
                                </ul>
                        </div><!--col-sm-12-->
                </div><!--row-->

                <div class="row">
                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-right">
                                                <a href="reporte1"><h5 class="mb-10"><b>Lista de ventas realizadas.</b></h5></a>
                                                <p class="pr-70">Se le otorgará una lista de todas la ventas realizadas.</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-right">
                                                <a href="reporte2"><h5 class="mb-10"><b>Lista de ventas realizadas por día.</b></h5></a>
                                                <p class="pr-70">Se le otorgará una lista de las ventas realizadas por día. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-right">
                                                <a href="reporte3"><h5 class="mb-10"><b>Lista de ventas por tamaño de pizza.</b></h5></a>
                                                <p class="pr-70">Obtendrá una lista de las ventas por el tamaño de cada pizza.</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->


                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-right">
                                                <a href="reporte4"><h5 class="mb-10"><b>Lista de ventas por ingredientes.</b></h5></a>
                                                <p class="pr-70">Obtendrá una lista de las ventas realizadas por ingredientes. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-right">
                                                <a href="reporte5"><h5 class="mb-10"><b>Lista de ventas por clientes.</b></h5></a>
                                                <p class="pr-70">Obtendrá una lista de las ventas por clientes (ordenadas de mayor a menor).</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->
        </div><!-- container -->
</section>
{% endblock content %}